h1 {
  color: rgb(134, 31, 231);
}

h2 {
  color: #ffff;
}

h3 {
  color: gray;
}

.btns__color1 {
  background-color: #747bff;
  cursor: pointer;
  color: #ffff;
  border-radius: 50px;
  gap: 50px;
  margin-right: 10px;
  width: 125px;
  height: 50px;
  border: black;
  font-weight: bold;
}

.btns__color2 {
  background-color: rgb(82, 82, 89, 68);
  cursor: pointer;
  color: #ffff;
  border-radius: 50px;
  gap: 50px;
  margin-right: 10px;
  width: 125px;
  height: 50px;
  border: black;
  font-weight: bold;
}

body {
  background-color: #0b0a0a;
}

.image-src {
  display: grid;
  margin-left: 700px;
  margin-top: -250px;
  width: 100px;
  height: 100px;
}

.card__container {
  background-color: #404040;
  width: 500px;
  border-radius: 10px;
  float: left;
  justify-content: center;
  gap: 30px;
  margin: 10px;
}

.emoji {
  margin-left: 15px;
}

.card_title {
  color: #ffff;
  margin-left: 10px;
}
.card_subtitle {
  color: gray;
  margin-left: 10px;
}
